<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.hqu.graduationdesign.homeworkmanager.mapper.CourseDao">

    <insert id="insertCourse" parameterType="sc.hqu.graduationdesign.homeworkmanager.entity.CourseEntity" useGeneratedKeys="true" keyProperty="ce.id">
        insert into t_course(name,credit,class_time,course_period,create_date) values(
            #{ce.name},#{ce.credit},#{ce.classTime},#{ce.coursePeriod},#{ce.createDate})
    </insert>

</mapper>