<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.hqu.graduationdesign.homeworkmanager.mapper.FilePublishDao">

    <insert id="batchInsertFilePublish">
        insert into t_file_publish(fid,pid,publish_type) values
        <foreach collection="filePublishEntities" item="fpe" separator=",">
            (#{fpe.fid},#{fpe.pid},#{fpe.publishType})
        </foreach>
    </insert>

</mapper>