<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sc.hqu.graduationdesign.homeworkmanager.mapper.ParentDao">

    <select id="queryStudentParentByParentIdInView" resultType="sc.hqu.graduationdesign.homeworkmanager.model.ClassStudentParentView">
        select class_id,student_no,parent_id,`name`,gender,contact from
        v_class_student_parent where parent_id in
        <foreach collection="parentIdList" item="pid" open="(" separator="," close=")">
            pid
        </foreach>
    </select>

    <insert id="batchInsertParent">
        insert into t_parent(student_no,`name`,gender,contact) values
        <foreach collection="pes" item="pe" separator=",">
            (#{pe.studentNo},#{pe.name},#{pe.gender},#{pe.contact})
        </foreach>
    </insert>

</mapper>